<?xml version="1.0" encoding="utf-8"?>
<module productName="Content specific display options"
        loadFromBin="false"
        clientResourceRelativePath="1.0.0.0" 
        tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="Hyxtra.DisplayOptions" />
  </assemblies>
  <clientResources>
    <add name="Inject"
         path="ClientResources/patch/SelectDisplayOption.js"
         resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="Hyxtra"
           location="ClientResources" />
    </packages>
  </dojo>
  <clientModule initializer="Hyxtra.DisplayOptionsModule">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="Inject"/>
    </requiredResources>
  </clientModule>
</module>